*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f4f4f4;
}
/* global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.button_1 {
  border: none;
  height: 38px;
  background: #e8491d;
  color: #ffffff;
  padding: 0 20px;
  border-radius: 10px;
}
.dark {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #35424a;
  color: #ffffff;
}
.page_title {
  margin-bottom: 10px;
}
/* header */
header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px #e8491d solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header nav ul li {
  display: inline;
  list-style: none;
  float: left;
  padding: 0 20px;
}
header .branding {
  float: left;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
}
/* showcase */
.showcase {
  min-height: 400px;
  background: url(../images/showcase.jpg) no-repeat 0px -400px;
  text-align: center;
  color: #ffffff;
}
.showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 15px;
}
.showcase p {
  font-size: 20px;
}
/* newsletter */
.newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}
.newsletter h1 {
  float: left;
}
.newsletter form {
  float: right;
  margin-top: 15px;
}
.newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}
/* boxes */
.boxes {
  margin-top: 20px;
}
.boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
.boxes .box img {
  width: 90px;
}
/* About US */
/* article */
article.main_article {
  width: 65%;
  float: left;
  margin-top: 10px;
}
/* about us sidebar */
aside.sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
/* Service Pages */
ul.services_list li {
  list-style: none;
  padding: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  background: #e6e6e6;
}
aside.sidebar .input_group {
  width: 100%;
}
aside.sidebar .quote input,
aside.sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background: #e8491d;
  text-align: center;
}
