*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  height: 300vh;
  margin: 0 auto;
}
.container {
  width: 100%;
  border: 6px solid #00ff00;
  margin: 0px;
  padding: 10px;
  display: flex;
}
.flex_display {
  display: flex;
}
.flex_direction {
  flex-direction: column;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex_flow {
  flex-flow: column wrap;
}
.justify_content {
  justify-content: center;
}
.align_item {
  height: 200px;
  align-items: center;
}
.align_item .item {
  height: auto;
}
.align_content {
  height: 300px;
  flex-wrap: wrap;
  align-content: center;
}

.item,
.item2 {
  width: 200px;
  height: 50px;
  margin: 5px;
  color: white;
  background-color: #ff0000;
  text-align: center;
  align-items: center;
}
h1 {
  font-size: 16px;
  color: #444444;
  text-align: center;
}
.flex_item_order .item2 {
  order: 1;
}

.flex_grow .item2 {
  flex-grow: 1;
}
.flex_shrink .item2 {
  flex-shrink: 4;
}
.flex_basis .item2 {
  flex-basis: 100px;
}
.flex .item {
  flex: 0 1 auto;
}
.align_self {
  height: 300px;
}
.align_self .item2 {
  align-self: flex-end;
}

.align_self .item {
  align-self: flex-start;
}
nav {
  font-size: 2rem;
  background: #f1f1f1;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  /* justify-content: space-around; */
}
nav ul li {
  flex: auto;
  text-align: center;
}
nav ul li a {
  color: #444444;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.5rem;
}
nav ul li a:hover {
  color: white;
  background-color: #444444;
}
@media all and (max-width: 400px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}
