/* Global Style  Start */
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1140px;
}
a{
    color: #d13c22;
    text-decoration: none;
}
/* Global Style  End */

/* CSS Menu Page Start */
.menu_parent{
    background: #e17517;            
    display: flex;
    gap: 5px;
}
.menu_parent ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.menu_parent ul li {  
    justify-content: space-around;
    list-style: none;                        
}
.menu_parent ul li a{
    display: inline-block;            
    color: #ffffff;            
    text-decoration: none;
}
/* CSS Menu Page End */
   