*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1em;
}
.wrapper > div {
  background: #eee;
  padding: 0.25em;
  margin: 0.25em;
  border: 1px solid red;
}
.wrapper > div:nth-child(odd) {
  background: #0f1f98;
  color: white;
}
/* grid2 page */
.wrapper2 {
  display: grid;
  /* 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-columns: repeat(2, 1fr 2fr);
  */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1em;
}
.wrapper2 > div {
  background: #eee;
  padding: 0.25em;
  border: 1px solid red;
}
.wrapper2 > div:nth-child(odd) {
  background: #0f1f98;
  color: white;
}
.nested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 70px;
  gap: 0.25em;
}
.nested > div {
  border: 1px solid black;
  padding: 0.5em;
}
/* grid3 page */
.wrapper3 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 1em;
  /* 
  justify-items: start; 
  justify-items: end;
  justify-items: center;
  align-items: start;
  align-items: center;
  */
  justify-items: stretch;
  align-items: stretch;
}
.wrapper3 > div {
  background: #eee;
  padding: 0.25em;
  border: 1px solid red;
}
.wrapper3 > div:nth-child(odd) {
  background: #0f1f98;
  color: white;
}
.box1 {
  /* align-self: self-start; */
  grid-column: 1/3;
  grid-row: 1/3;
}
.box2 {
  /* align-self: self-end; */
  grid-column: 3;
  grid-row: 1/3;
}
.box3 {
  /* justify-self: end; */
  grid-column: 2/4;
  grid-row: 3;
}
.box4 {
  /* justify-self: start; */
  grid-column: 1;
  grid-row: 2/4;
}
