.section-5 .headline,
.section-5 .article {
  text-align: center;
}

.section-5 .title {
  color: var(--black);
  letter-spacing: 5px;
}

.section-5 .cta {
  background-color: var(--pink-dark);
}

@media (min-width: 800px) {
  .section-5 .article {
    display: grid;
    grid-template-columns: 0.75fr 300px 1fr;
    grid-template-rows: 80px minmax(60px, auto) auto;
  }

  .section-5 img {
    grid-column: 2/-1;
    grid-row: 2/-1;
  }

  .section-5 .title {
    grid-area: 1/1/3/3;
    text-align: left;
  }

  .section-5 .cta {
    grid-column-start: 1;
    grid-row-start: 3;
    place-self: start;
  }
}
