*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container1 {
    display: flex;
    /* 
  align-items: stretch;
  align-items: center;
  align-items: flex-start;
  align-items: flex-end; 
  flex-direction: column;
  */
  }
  .container2 {
    display: flex;
    /* 
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
   */
    justify-content: space-between;
  }
}
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container1 div,
.container2 div,
.container3 div {
  border: 1px solid #ccc;
  padding: 10px;
}
.box1 {
  flex: 2;
  order: 2;
}
.box2 {
  flex: 1;
  order: 3;
}
.box3 {
  flex: 1;
  order: 1;
}
.container2_box {
  /* 
  width: 20%; 
  */
  flex-basis: 30%;
}
.container3_box {
  flex-basis: 15%;
}
